[core]
	excludesfile = ~/.gitignore
	editor = vim
	whitespace = cr-at-eol
	pager = less -rX
	trustctime = false
	autocrlf = input
[color]
	ui = auto
[web]
	browser = ch
[browser "ch"]
	cmd = open -a \"/Applications/Google Chrome.app\"
[push]
	default = upstream
[http]
	sslVerify = false
[receive]
	denyDeleteCurrent = warn
[merge]
	ff = false
	tool = vimdiff
[include]
	path = .gitconfig.local
[pull]
	rebase = true
[alias]
[alias]
[alias]
	s = status --short --branch
	d = diff --color-words
	b = branch -a
	ce = commit --allow-empty
