[core]
	excludesfile = ~/.gitignore
	editor = vim
	whitespace = cr-at-eol
	pager = less -+S
	trustctime = false
[color]
	ui = auto
[web]
	browser = ch
[browser "ch"]
	cmd = open -a \"/Applications/Google Chrome.app\"
[push]
	default = upstream
[http]
	sslVerify = false
[receive]
	denyDeleteCurrent = warn
[merge]
	ff = false
[include]
	path = .gitconfig.local
[pull]
	rebase = true
[alias]
	statussb = status --short --branch
	diffcw = diff --color-words
